@import "_bootstrap";

body {
  font-family: Arial,"Microsoft YaHei",SimSun,sans-serif; }

img {
  max-width: 100%; }

.content {
  padding-left: 16px; }

.sitebar_outer {
  padding-left: 24px; }

.tag_box.title span {  
  padding-left: 8px; }

.tag_box {
  list-style: none;  
  margin: 0;
  overflow: hidden; }
  
.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {  
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

.friend_links {
  list-style: none; 
  margin: 0;
  overflow: hidden; }

.friend_links a {
  text-decoration: none; }